p{
  color:rgb(0200,100,100);
  border-block-end-width:2px;
  background-color:;
  line-height:1.5em;
}
.image{
  width:49%;
  padding-top: 15px;
  height: 400px;
  
}

a{
  line-height:5em;
}
#name{
  line-height:1.5em;
  margin-block-end:10px;
}
#email{
  line-height: 1.5em;
  margin-block-end:10px;
}
#submit{
  margin-left:125px;
  margin-top: 15px;
}
.headings{
  font-family:'Oleo Script Swash Caps', cursive;
  font-weight:normal;
}
.sections{
  border:solid;
  height:15px;
  padding-bottom:50px;
  font-size:19px;
  background-color: rgb(156,240,139);
  line-height:1.01em;
  border-color: rgb(233, 214, 255);
  border-color: black;
  color: rgb(255,255,255);
  border-radius: 8px;
  padding-left: 10px;
  
}

.intro{
  background-color: rgb(243, 240, 255);
  border:4px solid rgb(169,99,255);
  padding-left: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.contact{
  background-color: rgb(196,196,196);
  border: 2px solid grey;
  padding: center center;
  margin:10px;
  border-radius: 10px;
}
body{
  border: 2px solid black;
  background-color: rgb(200,255,255);
  padding: 10px 10px 10px 10px;
  border-radius: 50px
}
.button{
  background-color: rgb(255, 227, 199);
  padding: 10px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px solid;
  border-radius: 50px;
}

.navigation{
  text-decoration: none;
  color:red;
  font-weight: bold;
  border-right: 2px solid black;
  padding-right: 5px;
  padding-left: 5px;
}





.friendlist{
  border: 2px solid rgb(200, 7, 235);
  background-color: rgb(223, 255, 212);
  padding: 19px;
  border-width:3px;
  border-radius: 50px;
  float: left;
}
.friendname{
  padding-left: 125px;
}
