p{
  color:rgb(0200,100,100);
  border-block-end-width:2px;
  background-color:;
  line-height:1.5em;
}
img{
  width:150px;
  padding-top: 15px;
}
a{
  line-height:5em;
}
#name{
  line-height:1.5em;
  margin-block-end:10px;
}
#email{
  line-height: 1.5em;
  margin-block-end:10px;
}
#submit{
  line-height:2em;
}
.headings{
  font-family:'Oleo Script Swash Caps', cursive;
  font-weight:normal;
}
.sections{
  border:solid;
  height:15px;
  padding-bottom:50px;
  font-size:19px;
  background-color: rgb(156,240,139);
  line-height:1.01em;
  border-color: rgb(233, 214, 255);
  border-bottom-color: red;
  color: rgb(255,255,255)
  
  
}

.intro{
  background-color: rgb(243, 240, 255)
}

.contact{
  background-color: rgb(196,196,196)
}